.heart-div {
  margin-left: 16px;
}

#heart {
  position: relative;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg) scale(1);
  animation: pulse 1s linear infinite;
  background: rgba(246, 0, 140, 1);
}

#heart::after {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -50%;
  left: 0;
  content: '';
  border-radius: 50%;
  background: inherit;
}

#heart::before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -50%;
  content: '';
  border-radius: 50%;
  background: inherit;
}

@keyframes pulse {
  0% {
    transform: rotate(-45deg) scale(1);
  }

  10% {
    transform: rotate(-45deg) scale(1.1);
  }
}

@media (max-width: 323px) {
  #heart {
    width: 20px;
    height: 20px;
  }
  #heart::after {
    width: 20px;
    height: 20px;
  }
  #heart::before {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 221px) {
  .heart-div {
    margin-left: 6px;
  }
  #heart {
    width: 10px;
    height: 10px;
  }
  #heart::after {
    width: 10px;
    height: 10px;
  }
  #heart::before {
    width: 10px;
    height: 10px;
  }
}
