.step-div {
  display: flex;
  height: 100vh;
  flex-basis: 480px;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  animation: fadein 1s;
}

.select-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
