.heart-color,
.heart-animation {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #fcf5f9;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.heart-color.active,
.heart-animation.active {
  border: 0.3rem solid #fb0097;
}
