.step-div {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 1rem;
  animation: fadein 1s;
}

.step-info-text {
  text-align: center;
}

.user-input {
  background-color: transparent;
  border-radius: 1.5rem;
  border-color: #fcdfef;
  border-style: solid;
  height: 2rem;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
}

svg.icons {
  width: 2rem;
  height: auto;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
