* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  min-width: 483px;
}
